.tema-modal .modal-content{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.tema-modal .modal-header{
	padding: 30px 15px;
}

.tema-modal .modal-title{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2.2em;
	
}

.tema-modal .modal-footer{
	background: url("../imagens/labinstru.png") no-repeat 0% 120%;
	padding:1em 1em;
}

.tema-modal.primary .modal-title {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.tema-modal.primary .modal-content{
	border-bottom: #009343;
}

.tema-modal.primary .modal-header{
	background: #009343;
	
}