{{extend 'layoutindex.html'}}

{{block head}}
  <!-- Contém alguns estilos gerais das páginas -->
  <link rel="stylesheet" href="{{=URL('static','css',args='disponibilidade.css')}}">
  {{include 'functions.html'}}
{{end}}

{{block jumbotron}}
{{end}}

{{block main}}
  <h1 class="text-center">Lógica Disponibilidade Baixa 1</h1>
  <hr />
  <div id="calendar-baixa1">

    <div class="cb-form">
      <form class="text-center" action="#" method="post">
        <label for="cb1-mes">Mês</label>
        <select class="form-input-user form-control" name="cb1-mes">
          <option value="1">Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">Março</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>

        <label for="cb1-ano">Ano</label>
        <input id="cb1-ano" class="form-input-user form-control" type="number" name="cb1-ano" min="{{=ano_minimo}}" max="{{=ano_maximo}}" value="{{=ano_maximo}}" required>

        <input class="btn btn-primary" type="submit" value="Enviar">
      </form>
    </div> <!-- .cb1-form -->

    <div class="conteudo-calendario">
        <div class="conteudo-cal">
            {{calendario_labinstru(mes,ano)}}
        </div>
    </div>

  </div> <!-- .calendar-baixa1 -->
{{end}}

